$black-color: #000;
$light-black: rgba(0, 0, 0, 0.5);
$white-color: #fff;
$red-color: rgb(246, 7, 7);
$red-color-50: rgb(251, 0, 0);
$light-blue: #5454ba;
$green-color: #4fa44f;

$grey-color: #ccc;
$light-grey-color: rgba(242, 243, 245, 0.72);
